.footer {
  text-align: center;
  font-size: 12px;
}

/* Additional responsive styling */
@media (max-width: 640px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}
.end{
    text-align: center;
    font-size: 12px;
  }
  body {
    background-color: #4E598C;
  }