
.navbar {
    background-color: #DBB1BC;
    color: white;
    text-align: center;
    padding: 1px 0;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10vh;
    width: 80vw;
  }
  .header-title {
    color: white;
    font-size: 65px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Lobster', cursive;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DEE9D3;
    color:black;
  }
 
  .end{
    text-align: center;
  }
  h1{
    text-align: left;
    margin-top: 10vh;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .reserve-background {
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  